table,
td,
th {
  border: 1px solid;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #f1f1f1;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: center;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Name";
  }

  td:nth-of-type(2):before {
    content: "View Dashboard";
  }

  td:nth-of-type(3):before {
    content: "Move Content";
  }

  td:nth-of-type(4):before {
    content: "View Project";
  }

  td:nth-of-type(5):before {
    content: "Add Project";
  }

  td:nth-of-type(6):before {
    content: "Edit Project";
  }
  td:nth-of-type(7):before {
    content: "View Report";
  }
  td:nth-of-type(8):before {
    content: "Change Privilege";
  }
  td:nth-of-type(9):before {
    content: "Create User";
  }
  td:nth-of-type(10):before {
    content: "Edit Other User";
  }
  td:nth-of-type(11):before {
    content: "Chat";
  }
  td:nth-of-type(12):before {
    content: "Upload Images";
  }
  td:nth-of-type(13):before {
    content: "Delete Images";
  }
  td:nth-of-type(14):before {
    content: "Upload Documents";
  }
  td:nth-of-type(15):before {
    content: "Delete Documents";
  }

  td:nth-of-type(16):before {
    content: "Options";
  }
}
